body {
  width: 100%;
  margin: 0;
  height: 100vh; /* Jak cos to wyjebac (scroll) */
  font-family: Lato, sans-serif;
  font-weight: 300;
  /* Domyślne kolory */
  --headerColor: #4c4c4c;
  --divanteBlue: #003fa4;
  --divanteGreen: #1eed7f;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

section {
  width: 1080px;
}
