.header4 {
    font-size: 18px;
    text-align: center;
}

#main-header-pricing4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1px;
}

#second-header4 {
    margin-top: 2px;
}


.pricing-grid4 {
    justify-content: center;
    max-width: 100%;
    display: flex;
    align-items: flex-start; 
}

.pricing-box4 {
    width: 33.3%;
    padding: 4px;
    display: inline-block;
    /*border: 1px solid #c8c8c8;*/
    background-color: white;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.pricing4 {
    list-style-type: none;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.pricing4 li {
    border-bottom: 1px solid #f2efef;
    padding: 13px;
    text-align: center;
    justify-content: center;
    

}

.pricing4 li.type-pricing4 {
    padding: 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-size:25px;
}

.pricing4 li.price4 {
    font-weight: 400;
    background-color:#f2f2f2;
    padding: 25px;
    font-size: 18px;
}


a {
    background-color: rgb(80, 138, 237);
    border: 1px solid rgb(80, 138, 237);
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 95px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
   
}

a:hover {
    background-color: rgb(100, 158, 255);
}

.signup-link-basic{
    background-color:#f2f2f2;

}

.signup-link{
    background-color:#f2f2f2;
}

a.button-signup-basic-4 {
    background-color:rgb(226, 150, 27);
    border: 1px solid rgb(226, 150, 27);
}

a.button-signup-basic-4:hover {
    background-color:rgb(248, 191, 100);
    border: 1px solid rgb(248, 191, 100);
}

i {
    color: rgb(248, 191, 100);
    margin-bottom: 10px;
    margin-right: 6px;
}