.header1 {
  text-align: center;
}

.title1 {
}

.hero-video-form1 {
  display: flex;
  margin-top: 20px;

}

.video1 {
  width: 66%;
  margin: 20px;
  
}

.form1 {
  width: 33%;
  display: flex;
}

h1 {
  font-size: 36px;
  color: var(--headerColor);
  font-weight: 400;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  margin-top: 20px;
  color: var(--headerColor);
  font-weight: 400;
}

.message1 {
justify-content: center;
 
}



.message-bg {
  font-size: 16px;
  margin-top: 20px;
  padding: 5px 0;
  background-color: #dedede;
  color: #383838;
  width: 500px;
  border-radius: 3px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

.form1 {
  background-color: var(--divanteBlue);
  color: white;
  justify-content: center;
  align-items: center;
  height: 400px;
  border-radius: 5px;
  box-shadow: 4px #333333; 
  margin: 20px;
  
}

.fa-envelope {
  font-size: 40px;
}


.form1 h4 {
  background-color: var(--divanteBlue);
  color: white;
  margin-top: 10px;
}




input[type=text],
input[type=email]
{
  width: 250px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 2px;
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  outline: none;
 margin-top: 5px;

}

input[type=text]:focus,
input[type=email]:focus
{
box-shadow: 0px 0px 10px 2px #7aa8ff;
background-color: #7aa8ff;
color: #ffffff;

}

input:focus::-webkit-input-placeholder 
{
  color: #fff;
}



input[type=submit]
{
  width: 200px;
  background-color: var(--divanteGreen);
  border: none;
  border-radius: 20px;
  color: #3f3f33;
  height: 30px;
  font-size: 14px;
  outline: none;
  font-weight: 600;
  margin-top: 10px;

}

input[type=submit]:hover
{
  background-color: #449178;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}


.section2 {
  color: red;
}