.section2 {
  width: 100% !important;
  text-align: center;
}

.featured {
  width: 100%;
  padding: 10px 0;
  background-color: #f8f8f8;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.featured ol {
  font-size: 36px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.featured ol > li {
  height: 48px;
  width: 100px;
  display: inline-block;
  margin-bottom: -10px;
  color: #dadad9;
}

.featured ol > li:hover {
  cursor: pointer;
  color: #4c4c4c !important;
}

.featured ol > li:first-child {
  font-size: 16px;
  position: relative;
  bottom: 5px;
  right: 30px;
  color: #4c4c4c;
}

.featured ol > li:first-child:hover {
  cursor: default;
}

.key-features {
  display: inline-block;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 40px;
}

.header2 {
  padding: 20px;
}

.header2 > h4 {
  font-size: 25px;
  font-weight: 300;
}

.header2 > h1 {
  font-weight: 600;
}

.feature-listed > h4 {
  font-weight: 600;
  font-size: 20px;
}

.feature-list {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: all 1s linear;
}

.feature-list .fa-star {
  color: #e6b211;
  font-size: 40px;
}
.feature-list .fa-chart-line {
  color: #70c14a;
  font-size: 40px;
}
.feature-list .fa-thumbs-up {
  color: #4983c4;
  font-size: 40px;
}

.numbers {
  width: 100%;
  padding: 10px 0;
  background-color: #f8f8f8;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.numbers ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.numbers ol > li {
  height: 48px;
  width: 100px;
  display: inline-block;
  margin: 0 50px 20px 50px;
  color: #4c4c4c;
  line-height: 1px;
  font-weight: 400;
}

.countnumber {
  font-size: 24px;
}

.countdesc {
  font-size: 18px;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .feature-list {
    flex-direction: column;
    transition: all 1s linear;
  }
  .numbers2 {
    box-sizing: border-box;
    width: 30% !important;
  }
  .featured ol > li:first-child {
    width: 100%;
    right: 0;
  }
  .key-features {
    padding: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 908px) {
  .numbers2 {
    box-sizing: border-box;
    width: 30% !important;
  }
}
